@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;900&display=swap');


body {
  margin: auto;
  padding: 0;
  box-sizing: border-box;
  background: linear-gradient(135deg, #628E75, #1A4855);
  background-repeat: no-repeat;
  background-attachment: fixed;
  
  font-family: 'Poppins';
}